<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nuevo Cliente", "Create", "Clientes")</li>
                            <li>@Html.ActionLink("Nuevo Establecimiento", "Create", "Establecimientos")</li>
                            <li>@Html.ActionLink("Listado de clientes", "Index", "Clientes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Condiciones de IVA", "Index", "CondicionIvas")</li>
                            <li>@Html.ActionLink("Provincias", "Index", "Provincias")</li>
                            <li>@Html.ActionLink("Localidades", "Index", "Localidades")</li>
                            <li>@Html.ActionLink("Servicios", "Index", "Servicios")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Presupuestos", "NuevoPresupuesto", "PresupuestoViewModel")</li>
                            <li>@Html.ActionLink("Planilla de Presupuestos", "Index", "Presupuestoes")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Técnicos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nuevo técnico", "Create", "Técnicos")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Asignar orden de trabajo", "Create", "Agenda")</li>
                            <li>@Html.ActionLink("Listado de técnicos", "Index", "Técnicos")</li>
                        </ul>
                    </li>
                            <li>@Html.ActionLink("Agenda", "Index", "Calendario")</li>
                      
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nuevo puesto de trabajo", "Create", "Puestos")</li>
                            <li>@Html.ActionLink("Nueva tarea", "Create", "OrdenTrabajoes")</li>
                            <li>@Html.ActionLink("Nuevo equipo", "Create", "Máquinas")</li>
                            <li>@Html.ActionLink("Nueva medida preventiva", "Create", "MedidasPreventivas")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Asignar trabajadores al puesto", "Create", "OrdenTrabajoes")</li>
                            <li>@Html.ActionLink("Asignar lugares al puesto", "Create", "OrdenTrabajoes")</li>
                            <li>@Html.ActionLink("Asignar tareas y equipos al puesto", "Create", "OrdenTrabajoes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Generar informes de gestión", "Index", "Puestos")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trabajadores <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Trabajadores", "Create", "Trabajadores")</li>
                            <li>@Html.ActionLink("Listado de Trabajadores", "Index", "Trabajadores")</li>
                            <li>@Html.ActionLink("Asignar EPP", "Create", "Trabajadores")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formación <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nuevo Plan de formación", "Create", "PlanesFormacions")</li>
                            <li>@Html.ActionLink("Registrar capacitación", "Create", "DetallePlanesFormacions")</li>
                            <li>@Html.ActionLink("Ver listado de capacitaciones", "Index", "Cursos")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accidentes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Registrar accidente", "Create", "Accidentes")</li>
                            <li>@Html.ActionLink("Listado de accidentes", "Index", "Accidentes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Generar informes de accidentes", "Index", "Accidentes")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Riesgos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nuevo riesgo", "Create", "Riesgos")</li>
                            <li>@Html.ActionLink("Nuevo tipo de riesgo", "Create", "TipoRiesgos")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Listado de riesgos", "Index", "Riesgos")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
