@model IEnumerable<Sehin_versión2._0.Models.Servicio>

@{
    ViewBag.Title = "Index";
}
<br><br>
<div class="container" style="background-color:lime;opacity:.8;color: black">
    <br>
    <h2>Listado de servicios</h2>

    <p>
        @Html.ActionLink("Dar de alta servicio", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Servicio
            </th>
            <th>
                Precio
            </th>
            <th>
                Activo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>
