@model Sehin_versión2._0.Models.OrdenTrabajo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenTrabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripciondetallada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripciondetallada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechainicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechainicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechafin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechafin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requierefirma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requierefirma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechavencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechavencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diasprogramacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diasprogramacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechafinprogracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechafinprogracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
