@model IEnumerable<Sehin_versión2._0.Models.OrdenTrabajo>

@{
    ViewBag.Title = "Index";
}
<br><br>
<div class="container" style="background-color:orange;opacity:.9;color: black">
    <br>
    <h2>Listado de órdenes de trabajo</h2>

    <p>
        @Html.ActionLink("Crear orden de trabajo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Detalle
            </th>
            <th>
                Fecha inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                Estado
            </th>
            <th>
                Finalizado
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Requiere firma
            </th>
            <th>
               Fecha de vencimiento
            </th>
            <th>
                Días de programación periodica
            </th>
            <th>
                Fecha fin de programación periodica
            </th>
            <th>
               Puesto
            </th>
            <th>
               Trabajadores
            </th>
            <th>
                Equipo
            </th>
            <th>
               Riesgo
            </th>
            <th>
                Medidas preventivas
            </th>
            <th>
                Técnico
            </th>
            <th>
                Establecimiento
            </th>
            <th>
                Servicio
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripciondetallada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechainicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechafin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.finalizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requierefirma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechavencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diasprogramacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechafinprogracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puestos.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajadores.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Máquinas.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Riesgos.Factor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedidasPreventivas.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Técnicos.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Establecimientos.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>