@model IEnumerable<Sehin_versión2._0.Models.OrdenTrabajo>

@{
    ViewBag.Title = "Index";
}
<br><br>
<div class="container" style="background-color:orange;opacity:.8;color: black">
    <br>
    <h2>Listado de Ordenes de Trabajo</h2>

    <p>
        @Html.ActionLink("Crear", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Detalle
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th>
                Estado
            </th>
            <th>
                Finalizado
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Firma
            </th>
            <th>
                Vencimiento
            </th>
            <th>
                Días Programación
            </th>
            <th>
                Fin Programación
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripciondetallada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechainicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechafin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.finalizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requierefirma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechavencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diasprogramacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechafinprogracion)
                </td>
                
            </tr>
        }

    </table>
</div>